@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com"); 
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&display=swap");

.agreement{
    border: solid;
    border-width: 1px;
    margin-right: 50px;
}
.agreement2{
    border: solid;
    border-width: 1px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 25px;
    margin-left: 25px;

}

.main{
    margin-left: 175px;
    margin-top: 5%;
   
}
.c{
    overflow-x: hidden;
}

.select{
    border: solid;
    border-width: 1px;
    height: 900px;
}
.space{
    display: inline-block; 
    border-bottom: 1px solid black;
    width: 70px;
}
.txt{
    margin-left: 40%;
}
.space2{
    width: 200px;
    margin-left: 25%;
    background-color: black;
    height: 8px;
}
.l{
    text-align: center;
}
.p{
    margin-left: 40px;
    margin-right: 40px;
}
.r{
    margin-left: 40%;
}
.potrait{
    margin-left: 5%;
    margin-bottom: 20px;

}

.potrait2{
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 20px;
}
.d{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}
.o{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin-top: 10%;
    margin-bottom: 4%;
    margin-left: 20%;
}
.s{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    padding-top: 10%;
    padding-bottom: 4%;
    margin-left: 5%;

}
.a{
    width: 450px !important;
    margin-right: 5% !important;
    margin-left: 5%!important;
    padding:5%;
    border-radius: 3%;
    margin-bottom: 30% !important;
}
.download{
  width: 450px !important;
  margin-left: 5%;
    
}
@media screen and (min-width: 20em){
    .main{
        margin-left: 5px;
        margin-top: 5%;
    }
    .agreement2{
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 2px;
        margin-left: 2px;
    }

    .potrait{
        margin-left: 15%;
        margin-bottom: 20px;
    
    }
    
    .potrait2{
        margin-right: 5%;
        margin-left: 15%;
        margin-bottom: 20px;
    }

    .o{
        margin-left: 8%;
    }

    .d{
        font-size: 30px;
    }
    .a{
        width: 300px !important;
        margin-left: 10% !important;
    }
    .download{
        width: 300px !important;
        margin-left: 10%;
    }
    .s{
        margin-left: 15%;
    }
}